<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div contenteditable class="cell">
								Call/Put
							</div>
							<div class="cell">
								Delta
							</div>
							<div class="cell">
							    Price(IV)
							</div>
							<div class="cell">
								Volume
							</div>
							<div class="cell">
								Weighting
							</div>
							<div class="cell">
								How long ago (hours)
							</div>
							<div class="cell">
								Coefficient
							</div>
							<div class="cell">
								Weighting
							</div>
							<div class="cell">
								Weighted Price
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Call/Put">
								Call
							</div>
							<div class="cell" data-title="Delta">
								55
							</div>
							<div class="cell" data-title="Price(IV)">
								53
							</div>
							<div class="cell" data-title="Volume">
								10
							</div>
							<div class="cell" data-title="Weighting">
								0.17
							</div>
							<div class="cell" data-title="How long ago (hours)">
								1
							</div>
							<div class="cell" data-title="Coefficient">
								0.96
							</div>	
							<div class="cell" data-title="Weighting">
								0.53
							</div>	
							<div class="cell" data-title="Weighted Price">
								18.6
							</div>							
						</div>
					</div>
			</div>
		</div>
	</div>

	

<!--===============================================================================================-->	
<!-- 
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="vendor/bootstrap/js/popper.js"></script>
 -->
<!-- 
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="vendor/select2/select2.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="js/main.js"></script>
 -->

</body>
</html>