<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
	<div class="limiter">
		<div class="container-table100">
		<a href="http://103.102.44.216:5000/v1/" class="button">Main</a>
		<a href="http://103.102.44.216:5000/risk_limits/" class="button">Risk Limits</a>
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div contenteditable class="cell">
							</div>
							<div contenteditable class="cell">
								Aggregate
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Call/Put">
								Delta
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['aggregate delta']}}
							</div>
					    </div>
					</div>   
			</div>
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div contenteditable class="cell">
							</div>
							<div contenteditable class="cell">
								Nearest
							</div>
							<div contenteditable class="cell">
								T+1
							</div>
							<div contenteditable class="cell">
								T+2
							</div>
							<div contenteditable class="cell">
								T+3
							</div>
							<div contenteditable class="cell">
								T+4
							</div>
							<div contenteditable class="cell">
								Aggregate
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Call/Put">
								Vega
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega nearest']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega t+1']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega t+2']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega t+3']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega t+4']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['vega aggregate']}}
							</div>
					    </div>
			        </div>
		    </div>
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div contenteditable class="cell">
							</div>
							<div contenteditable class="cell">
								Mark to Market
							</div>
							<div contenteditable class="cell">
								Mark to Model
							</div>
						</div>
						{% for member in dictionary['pnl'] %}
						<div class="row">
							<div class="cell" data-title="Call/Put">
								{{member['name']}}
							</div>
							<div class="cell" data-title="Delta">
								{{member['mark to market']}}
							</div>
							<div class="cell" data-title="Delta">
								{{member['mark to model']}}
							</div>
					    </div>
					    {% endfor %}
			        </div>
		    </div>
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div contenteditable class="cell">
							</div>
							<div contenteditable class="cell">
								Volume
							</div>
							<div contenteditable class="cell">
								Avg price
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Call/Put">
								Long vol
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['long volume']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['long volume average price']}}
							</div>
					    </div>
						<div class="row">
							<div class="cell" data-title="Call/Put">
								Short vol
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['short volume']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['short volume average price']}}
							</div>
					    </div>
						<div class="row">
							<div class="cell" data-title="Call/Put">
								Aggregate position
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['aggregate position']}}
							</div>
							<div class="cell" data-title="Delta">
								{{dictionary['aggregate position average price']}}
							</div>
					    </div>
			        </div>
		    </div>
	</div>

	

<!--===============================================================================================-->	
<!-- 
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="vendor/bootstrap/js/popper.js"></script>
 -->
<!-- 
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="vendor/select2/select2.min.js"></script>
 -->
<!--===============================================================================================-->
<!-- 
	<script src="js/main.js"></script>
 -->

</body>
</html>